* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container .col {
  flex: 1;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
  background: #343a40;
  padding: 20px;
  color: white;
  margin: 4px;
}

.col-bigger {
  flex-direction: column;
  background: #343a40;
  padding: 20px;
  color: white;
  margin: 4px;
  flex: 2;
}
